h1 {
    font-size: 48px
} 
H1 {color: midnightblue;}
html {text-align: center;
font-size: 26px}
.list-item{
    padding: 5px
}
<  {
    width: auto;
    height: 200px;
}
 P { color:darkkhaki; text-shadow: maroon;}
